@using SecretsVault.ViewModels.Secret
@model EditSecretInputModel

@{
    ViewData["Title"] = "Edit secret";
}

<main class="container">
    <form id="form" class="col-6 offset-3" asp-controller="Secrets" asp-action="Edit" method="post">
        <h3 class="mb-4">Create secret</h3>

        <input type="hidden" asp-for="Id" />

        <div class="form-group">
            <label>Key</label>
            <input class="form-control" name="Key" placeholder="Key" id="keyInput" asp-for="Key" />
        </div>

        <div class="form-group">
            <label>Environment</label>
            <input class="form-control" name="Environment" placeholder="Environment" id="environmentInput" asp-for="Environment" />
        </div>

        <div class="form-group">
            <label>Value</label>
            <input class="form-control" name="Value" placeholder="Value" asp-for="Value" />
        </div>

        <button class="btn btn-primary" id="editButton">Edit</button>
        <button class="btn btn-secondary" id="cancelButton">Cancel</button>
    </form>
</main>

@section Scripts {
    <script async src="~/js/Secrets/Edit.js" applicationId="@ViewData["ApplicationId"]"></script>
}