@{
    ViewData["Title"] = "Create Application";
}

<main class="container">
    <form class="col-6 offset-3" asp-controller="Applications" asp-action="Create" method="post" >
        <h3 class="mb-4">Create application</h3>

        <input class="form-control" placeholder="Application name" id="applicationNameInput" name="Name" autocomplete="off" />
        <div id="applicationNameError" class="text-danger">Application name is not available</div>

        <button class="btn btn-primary mt-3" id="createButton">Create</button>
        <button class="btn btn-secondary mt-3" id="cancelButton">Cancel</button>
    </form>
</main>

@section Scripts {
    <script async src="~/js/Applications/Create.js"></script>
}