.Navigation {
    width: 100%;
    background-color: rgb(72, 113, 247);
    height: 60px;
    user-select: none;
}

.Logo {
    font-size: 30px;
    margin: 0 25px;
    color: white;
    padding-top: 5px;
    cursor: pointer;
    display: inline-block;
}

.NavLinks {
    margin-top: 15px;
    float: right;
    margin-right: 25px;
}

.NavLink {
    display: inline-block;
    font-size: 20px;
    color: white;
    border-color: transparent;
    transition: border-color 0.3s ease-in;
    margin: 0 10px;
}

.NavLink:hover {
    cursor: pointer;
    border-bottom: 1px solid white;
}

.AddButton {
    margin-left: 10px;
    display: inline-block;
    background-color: white;
    color: rgb(72, 113, 247);
    padding: 7px 10px;
    border-radius: 5px;
    cursor: pointer;
}